<div>
  <div id="intro"
    class="container p-1 p-md-4 p-lg-5 mb-5">
    {{#if page_url}}

    <div class="row">
      <div class="col-12">
        <p class="lead fw-bold">
          Collecting signatures for <a target="_blank"
            href="{{page_url}}">{{page_url}}</a>.
        </p>
      </div>
      {{#if user}}
      <div class="col-12">
        <p>You are logged in as <strong>{{user.username_full}}</strong>.</p>
        {{#if has_signed}}
        <a class="btn btn-danger"
          href="/signatures?action=remove&url={{page_url}}">Remove signature</a>
        {{else}}
        <a class="btn btn-primary"
          href="/signatures?action=add&url={{page_url}}">Add signature</a>
        {{/if}}
        <a class="btn btn-secondary"
          href="/signatures?action=logout&url={{page_url}}">Log out</a>
      </div>
      {{else}}
      <div class="col-12">

        <form type="get"
          action="https://auth.stefanbohacek.dev/"
          id="sign-in-form">
          <input type="hidden"
            name="method"
            value="fediverse">
          <input type="hidden"
            name="scope"
            value="read:accounts">
          <input type="hidden"
            name="app"
            value="signatures">
          <input type="hidden"
            name="environment"
            value="{{#if is_development}}development{{else}}production{{/if}}">
          <label for="fediverse-server"
            class="d-block form-label text-start">Your fediverse server name</label>
          <div class="input-group mb-3">
            <span class="input-group-text">https://</span>
            <input required
              name="instance"
              type="text"
              class="form-control"
              placeholder="mastodon.social">
            <button class="btn btn-outline-secondary"
              type="submit"
              id="sign-in">Manage <br class="d-block d-md-none"/>signature</button>
          </div>
        </form>
      </div>
      <div class="col-12">
        <p>
          No private information is stored on my server or shared with any third parties. Running into any issues or have questions? <a href="https://stefanbohacek.com/contact/">Please reach out!</a>
        </p>
        <details>
          <summary>How to sign</summary>
          <ol>
            <li>Start by typing your server name in the input field above, eg: mastodon.social.
              <ul>
                <li>Currently supported: Mastodon, Friendica, Pleroma, Akkoma, Misskey, Calckey, and Firefish.
              </ul>
            </li>
            <li>Click the "Manage signature" button.</li>
            <li>Log in to your account and confirm that you want to access the signature verification app<./li>
            <li>The app will require minimal access to your account just to verify who you are.</li>
            <li>After you confirm, you will then have the option to add your signature, or log out.</li>
            <li>You can return any time and remove your signature.</li>
          </ol>
        </details>
      </div>
      {{/if}}
      <div class="col-12">
        <div class="card mt-5">
          <div class="card-body">
            <p class="card-text">
              {{#if signatures}}
                {{#each signatures}}
                <a class="p-1"
                  target="_blank"
                  href="https://{{this.server}}/@{{this.account}}">
                  @{{this.account}}@{{this.server}}
                </a>
                {{/each}}
              {{else}}
                <p>
                  No signatures found. Be the first to sign!
                </p>
              {{/if}}
            </p>
          </div>
        </div>
      </div>
    </div>
    {{else}}
    <div class="row">
      <div class="col-12">
        <p class="lead">
          Redirecting...
        </p>
      </div>
    </div>
    {{/if}}
  </div>
</div>
<script type="module"
  src="/js/main.min.js"></script>